html, body {
    font-family: "Rotis Sans Serif Std", sans-serif;
    height: 100%
}

* {
    user-select: none;
}

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 10em;
    
    
    background-color: black;
    color: white;
}

.pure-menu-selected {
    background-color: #aaa;
}

.pure-menu-link:hover {
    background-color: #aaa;
}

#main {
    margin-left: 10em;
    padding: 1em;
    width: calc(100% - 12em);
    height: calc(100% - 3em);
}

.center {
    margin: 0 auto;
    text-align: center;
}

.user-button {
    text-align: center;
    background-color: #ccc;
    margin: 0.5em;
    padding: 2em;
    border-radius: 5px;
}

.user-button:hover {
    background-color: #e87910;
}

.balances {
    width: 100%;
}

.debt {
    color: red
}
